<?xml version="1.0"?>

<launch>
	   
  <!-- Start Gazebo with wg world running in (max) realtime -->
  <!-- <include file="$(find hector_gazebo_worlds)/launch/willow_garage.launch"/> -->
  <include file="$(find quadroter_auto_nav)/launch/world.launch">
    <arg name="world" value="$(find quadroter_auto_nav)/worlds/sick_robot_day_2014.world"/> 
  </include>

  <include file="$(find quadroter_auto_nav)/launch/common.launch"/>

</launch>
